.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.newButton {
    height: 2.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.container-create-pool {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.component-create-pool {
    background: gray;
}

.btn-grp-paging {
    display: flex;
    margin: auto;
}

.btn-paging {
    width: 3rem;
    height: 3rem !important;
    min-width: 3rem !important;
}

.col-ranking {
    width: 2rem;
}

.col-points {
    width: 3rem;
    text-align: right !important;
}