.game {
    padding-bottom: 1rem;
}

span.team {
    line-height: 4rem;
}

div.container {
    margin-top: 1rem;
}

div.result {
    display: flex;
}

div.result span.actual {
    width: 50%;
    line-height: 3rem;
    text-align: center;
    background: #f3f3f3;
    font-size: 1.5rem;
}

div.result span.actual.home {
    margin-right: 0.25rem;
}

div.result span.actual.away {
    margin-left: 0.25rem;
}

span.points {
    line-height: 3rem;
}